@font-face{
    font-family: 'Briyone';
    src: url('./fonts/Briyone.woff') format('woff');
}

* {
    font-family: 'Trebuchet MS', sans-serif; 
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color_w: #FCFDFD;
    --color_v_1: #CCCCFF;
    --color_v_2: #7F7EFF;
    --color_v_3: #6161C1;
    --color_b: #2B2D42;
    --color_g: #7BE0AD;
    --color_r: #F76F8E;
    --color_y: #F6AE2D;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

h1{
    font-family: 'Briyone';
}

p {
    font-family: 'Trebuchet MS', sans-serif; 
}

body {
    background-color: #2B2D42;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='0 0 90 90'%3E%3Ccircle fill='%236161C1' cx='45' cy='45' r='10'/%3E%3Cg fill='%236161C1' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='10'/%3E%3Ccircle cx='90' cy='90' r='10'/%3E%3Ccircle cx='90' cy='0' r='10'/%3E%3Ccircle cx='0' cy='0' r='10'/%3E%3C/g%3E%3C/svg%3E");
}

/* Styles pour le header */
header {
    height: 60px;
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 100px;
    height: auto;
}

/* Styles pour le contenu */
.contenu {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Ajustez la hauteur selon vos besoins */
}

.contenant {
    background-color: var(--color_b);
    padding: 20px;
    border-radius: 500px;
}

/* Styles pour le copyright */
footer {
    text-align: center;
    padding: 10px 0;
    position: absolute;
    top: 90%; /* Move the top of the container to the vertical center */
    left: 50%; /* Move the left of the container to the horizontal center */
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: var(--color_b);
}

.bouton {
    display: flex;
    background-color: transparent; /* Fond transparent du bouton */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Coins arrondis */
    padding: 0; /* Aucun espacement interne */
    box-sizing: border-box; /* Inclure la bordure et le padding dans la largeur totale */
    --bouton_gauche: url("./assets/bouton_g_v_2.svg");
    --bouton_droite: url("./assets/bouton_d_v_2.svg");
    --bouton_centre: url("./assets/bouton_c_v_2.svg");
}

.bouton:hover{
    filter: grayscale(0.2);
    cursor: pointer;
    --bouton_gauche: url("./assets/bouton_g_v_3.svg");
    --bouton_droite: url("./assets/bouton_d_v_3.svg");
    --bouton_centre: url("./assets/bouton_c_v_3.svg");
    color: var(--color_v_3)
}

.bouton_gauche, .bouton_droit {
    width: 200px; /* Largeur du coin gauche et droit */
    height: 100px; /* Hauteur du coin gauche et droit */
    background-size: contain; /* Ajuste la taille de l'image pour s'adapter */
    background-repeat: no-repeat; /* Empêche la répétition de l'image de fond */
}

.bouton_gauche {
    background-image: var(--bouton_gauche);
    background-position: right center;
    margin-right: -1px;
}

.bouton_droit {
    background-image: var(--bouton_droite);
    background-position: left center;
    margin-left: -1px;
}

.bouton_centre {
    background-image: var(--bouton_centre);
    flex: 1; /* Remplit l'espace restant dans le bouton */
    text-align: center; /* Centre le texte horizontalement */
    color: var(--color_w); /* Couleur du texte */
    font-weight: bold; /* Style du texte */
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

