@font-face{
    font-family: 'Briyone';
    src: url('./fonts/Briyone.woff') format('woff');
}

* {
    font-family: 'Trebuchet MS', sans-serif; 
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color_w: #FCFDFD;
    --color_v_1: #CCCCFF;
    --color_v_2: #7F7EFF;
    --color_v_3: #6161C1;
    --color_b: #2B2D42;
    --color_g: #7BE0AD;
    --color_r: #F76F8E;
    --color_y: #F6AE2D;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

h1{
    font-family: 'Briyone';
    text-shadow: 
    -20px -20px 20px var(--color_b),
    -20px 20px 20px var(--color_b),
    20px -20px 20px var(--color_b),
    20px 20px 20px var(--color_b);
}

p {
    font-family: 'Trebuchet MS', sans-serif; 
}

body {
    width: 100vw;
    background-color: #2B2D42;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='0 0 90 90'%3E%3Ccircle fill='%236161C1' cx='45' cy='45' r='10'/%3E%3Cg fill='%236161C1' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='10'/%3E%3Ccircle cx='90' cy='90' r='10'/%3E%3Ccircle cx='90' cy='0' r='10'/%3E%3Ccircle cx='0' cy='0' r='10'/%3E%3C/g%3E%3C/svg%3E");
}

/* Styles pour le header */
header {
    height: 60px;
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 100px;
    height: auto;
}

/* Styles pour le contenu */
.contenu {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Ajustez la hauteur selon vos besoins */
}

/* .contenant {
    background-color: var(--color_b);
    padding: 20px;
    border-radius: 500px;
} */

/* Styles pour le copyright */
footer {
    text-align: center;
    padding: 10px 0;
    position: absolute;
    top: 90%; /* Move the top of the container to the vertical center */
    left: 50%; /* Move the left of the container to the horizontal center */
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: var(--color_b);
}

@keyframes moveImage {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(2%) translateY(2%);
    }
    100% {
        transform: translateX(0);
      }
}
.move {
    animation: moveImage 3s linear infinite;
    height: 200px; /* Réglez la hauteur de l'image selon vos besoins */
}

.move:hover {
    animation: moveImage 0.2s linear infinite;
}

.button {
    /*Only for this website*/
    margin-top: 20px;
    /*FIN*/
    background: 
        url(./assets/bouton_g_v_2.svg) left center no-repeat, 
        url(./assets/bouton_d_v_2.svg) right center no-repeat,
        url(./assets/bouton_c_v_2.svg) center center
    ;
    background-size: auto, auto, auto;
    min-width: fit-content;
    max-width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 20px;
    font-family: 'Briyone';
    font-size: larger;
}

.button:hover {
    background: 
        url(./assets/bouton_g_v_1.svg) left center no-repeat, 
        url(./assets/bouton_d_v_1.svg) right center no-repeat,
        url(./assets/bouton_c_v_1.svg) center center
    ;
    cursor: pointer;
    color: var(--color_v_3)
}