/* ------------------------------ */
/* --- IMPORTATION ET FIX CSS --- */
/* ------------------------------ */

@font-face{
    font-family: 'Briyone';
    src: url('./fonts/Briyone.woff') format('woff');
}

* {
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background: transparent;
    box-sizing: border-box;
    --color_w: #FCFDFD;
    --color_v_1: #CCCCFF;
    --color_v_2: #7F7EFF;
    --color_v_3: #6161C1;
    --color_b: #2B2D42;
    --color_g: #7BE0AD;
    --color_r: #F76F8E;
    --color_y: #F6AE2D;
    --background_black: url(./assets/bf_svg_point_fix_b.svg);
    --background_white: url(./assets/bf_svg_point_fix_w.svg);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* ------------------------------- */
/* --- DEBUT DE LA ZONE BOUTON --- */
/* ------------------------------- */

.button {
    background-size: auto, auto, auto;
    min-width: fit-content;
    max-width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 20px;
    font-family: 'Briyone';
    font-size: larger;
}

.button:hover {
    cursor: pointer;
}

.button_violet_1 {
    background: 
    url(./assets/bouton_g_v_1.svg) left center no-repeat, 
    url(./assets/bouton_d_v_1.svg) right center no-repeat,
    url(./assets/bouton_c_v_1.svg) center center
    ;
    color: var(--color_v_3)
}

.button_violet_1:hover {
    background: 
        url(./assets/bouton_g_v_2.svg) left center no-repeat, 
        url(./assets/bouton_d_v_2.svg) right center no-repeat,
        url(./assets/bouton_c_v_2.svg) center center
    ;
    color: var(--color_w)
}

.button_violet_2 {
    background: 
    url(./assets/bouton_g_v_2.svg) left center no-repeat, 
    url(./assets/bouton_d_v_2.svg) right center no-repeat,
    url(./assets/bouton_c_v_2.svg) center center
    ;
}

.button_violet_2:hover {
    background: 
        url(./assets/bouton_g_v_1.svg) left center no-repeat, 
        url(./assets/bouton_d_v_1.svg) right center no-repeat,
        url(./assets/bouton_c_v_1.svg) center center
    ;
    color: var(--color_v_3)
}

.button_violet_3 {
    background: 
    url(./assets/bouton_g_v_3.svg) left center no-repeat, 
    url(./assets/bouton_d_v_3.svg) right center no-repeat,
    url(./assets/bouton_c_v_3.svg) center center
    ;
}

.button_violet_3:hover {
    background: 
        url(./assets/bouton_g_v_2.svg) left center no-repeat, 
        url(./assets/bouton_d_v_2.svg) right center no-repeat,
        url(./assets/bouton_c_v_2.svg) center center
    ;
    color: var(--color_w)
}

.button_vert {
    background: 
        url(./assets/bouton_g_vert_1.svg) left center no-repeat, 
        url(./assets/bouton_d_vert_1.svg) right center no-repeat,
        url(./assets/bouton_c_vert_1.svg) center center
    ;
    color: var(--color_g)
}

.button_vert:hover {
    background: 
        url(./assets/bouton_g_vert_2.svg) left center no-repeat, 
        url(./assets/bouton_d_vert_2.svg) right center no-repeat,
        url(./assets/bouton_c_vert_2.svg) center center
    ;
    color: var(--color_w)
}

.button_rouge {
    background: 
        url(./assets/bouton_g_rouge_1.svg) left center no-repeat, 
        url(./assets/bouton_d_rouge_1.svg) right center no-repeat,
        url(./assets/bouton_c_rouge_1.svg) center center
    ;
    color: var(--color_r)
}

.button_rouge:hover {
    background: 
        url(./assets/bouton_g_rouge_2.svg) left center no-repeat, 
        url(./assets/bouton_d_rouge_2.svg) right center no-repeat,
        url(./assets/bouton_c_rouge_2.svg) center center    
    ;
    color: var(--color_w)
}

.button_jaune {
    background: 
        url(./assets/bouton_g_jaune_1.svg) left center no-repeat, 
        url(./assets/bouton_d_jaune_1.svg) right center no-repeat,
        url(./assets/bouton_c_jaune_1.svg) center center
    ;
    color: var(--color_y)
}

.button_jaune:hover {
    background: 
        url(./assets/bouton_g_jaune_2.svg) left center no-repeat, 
        url(./assets/bouton_d_jaune_2.svg) right center no-repeat,
        url(./assets/bouton_c_jaune_2.svg) center center
    ;
    color: var(--color_w)
}

.button_reverse_vert:hover {
    background: 
        url(./assets/bouton_g_vert_1.svg) left center no-repeat, 
        url(./assets/bouton_d_vert_1.svg) right center no-repeat,
        url(./assets/bouton_c_vert_1.svg) center center
    ;
    color: var(--color_g)
}

.button_reverse_vert {
    background: 
        url(./assets/bouton_g_vert_2.svg) left center no-repeat, 
        url(./assets/bouton_d_vert_2.svg) right center no-repeat,
        url(./assets/bouton_c_vert_2.svg) center center
    ;
    color: var(--color_w)
}

.button_reverse_rouge:hover {
    background: 
        url(./assets/bouton_g_rouge_1.svg) left center no-repeat, 
        url(./assets/bouton_d_rouge_1.svg) right center no-repeat,
        url(./assets/bouton_c_rouge_1.svg) center center
    ;
    color: var(--color_r)
}

.button_reverse_rouge {
    background: 
        url(./assets/bouton_g_rouge_2.svg) left center no-repeat, 
        url(./assets/bouton_d_rouge_2.svg) right center no-repeat,
        url(./assets/bouton_c_rouge_2.svg) center center    
    ;
    color: var(--color_w)
}

.button_reverse_jaune:hover {
    background: 
        url(./assets/bouton_g_jaune_1.svg) left center no-repeat, 
        url(./assets/bouton_d_jaune_1.svg) right center no-repeat,
        url(./assets/bouton_c_jaune_1.svg) center center
    ;
    color: var(--color_y)
}

.button_reverse_jaune {
    background: 
        url(./assets/bouton_g_jaune_2.svg) left center no-repeat, 
        url(./assets/bouton_d_jaune_2.svg) right center no-repeat,
        url(./assets/bouton_c_jaune_2.svg) center center
    ;
    color: var(--color_w)
}

.button_social {
    background-color: var(--color_v_2);
    width: 42px;
    height: 42px;
    transition: 0.3s;
}

.button_social:hover {
    cursor: pointer;
}

.github {
    background: url(./assets/github.svg) no-repeat center center;
}

.github:hover {
    background: url(./assets/github_hover.svg) no-repeat center center;
}

.telegram {
    background: url(./assets/telegram.svg) no-repeat center center;
}

.telegram:hover {
    background: url(./assets/telegram_hover.svg) no-repeat center center;
}

.linkedin {
    background: url(./assets/linkedin.svg) no-repeat center center;
}

.linkedin:hover {
    background: url(./assets/linkedin_hover.svg) no-repeat center center;
}

.courriel {
    background: url(./assets/courriel.svg) no-repeat center center;
}

.courriel:hover {
    background: url(./assets/courriel_hover.svg) no-repeat center center;
}

/* ----------------------------------- */
/* --- CONSTRUCTION DE LA HOMEPAGE --- */
/* ----------------------------------- */

body {
    width: 100%;
    background-color: #2B2D42;
    background-image: var(--background_black);
    background-size: 5vh;
    display: block;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    scroll-snap-align: center y;
    scroll-behavior: smooth !important;
}

.debug {
    background-color: red;
}

h1 {
    font-family: Briyone;
    font-size: xx-large;
}

p {
    font-family: 'Trebuchet MS';
    font-size: large;
    font-weight:100;
}

a {
    text-decoration: none
}
/* ----------------------------------- */
/* ---         SOCIALS             --- */
/* ----------------------------------- */

.hidden { display: none !important; }
.flex { display: flex !important; }

.socials {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    gap: 5px;
    z-index: 200;
}

.button_social_burger {
    display: flex;
    background-image: url("./assets/bouton_burger_v_2.svg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 42px;
    width: 42px;
}

.button_social_burger:hover{
    background-image: url("./assets/bouton_burger_v_3.svg");
    cursor: pointer;
}

.button_social_list{
    display: none;
    flex-direction: row-reverse;
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    gap: 5px;
}

.button_social_cross {
    background-image: url("./assets/bouton_cross_v.svg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 42px;
    width: 42px;
}

.button_social_cross:hover{
    background-image: url("./assets/bouton_cross_r.svg");
    cursor: pointer;
}

.button_social_list > .button {
    padding: 9.5px
}


/* ----------------------------------- */
/* ---         SECTION 1           --- */
/* ----------------------------------- */

#section_1 {
    display: flex;
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    height: 91vh; /* Assure-toi que la section prend toute la hauteur de la fenêtre */
    background-color: var(--color_b) !important;
    flex-direction: column; /* Empile les éléments verticalement */
}

#section_1, h1{
    padding-bottom: 5px;
}
  
.hero {
    display: flex;
    align-items: center; /* Alignement vertical au centre */
    justify-content: center; /* Alignement horizontal au centre */
    width: 80%; /* Ou la largeur que tu préfères */
    max-width: 800px; /* Ou la largeur maximale que tu préfères */
    gap: 20px;
    
}
  
.image {
    min-height: 150px;
    min-width: 150px;
    flex: 1; /* Permet à l'image de prendre 1/2 de l'espace disponible */
    background: url('./assets/avatar.svg') no-repeat center center; /* Remplace par le chemin de ton image */
    background-size: contain; /* Couvre la zone de div */
}

.button_hero {
    display: flex;
    text-align: center; /* Centre le bouton horizontalement */
    align-items: center; /* Alignement vertical au centre */
    justify-content: center; /* Alignement horizontal au centre */
    margin-top: 20px; /* Ajoute un peu d'espace au-dessus du bouton */
    gap: 20px;
}

#continue {
    position: absolute;
    bottom: 20px;
    background-image: url("./assets/scroll_aura.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 60px;
    width: 60px;
}

/* ----------------------------------- */
/* ---         Transit 1           --- */
/* ----------------------------------- */

.transit1 {
    position: absolute;
    width: 100%;
    background-image: url("./assets/sep_t_w_1.svg");
    background-repeat: repeat-x;
    animation: transit 60s linear infinite;
    z-index: 100;
}

@keyframes transit{
    from {
        background-position: 0 0;
      }
      to {
        background-position:100vh 0;
      }
}

/* ----------------------------------- */
/* ---         SECTION 2           --- */
/* ----------------------------------- */

#section_2 {
    position: relative;
    width: 100%;
    height: 40vh;
    background-image: var(--background_white);
    background-size: 5vh;
}

.toolbox {
    width: 100%;
    height: 100%;
    background-image: url("./assets/skills/ALL.svg");
    background-repeat: repeat;
    background-size: 1000px;
    animation: toolbox 200s linear infinite;
}

@keyframes toolbox {
    0% {
        background-position: 0 800vw;
    }
    100% {
        background-position: 0 0;
    }
}



/* ----------------------------------- */
/* ---         Transit 2           --- */
/* ----------------------------------- */

.transit2 {
    margin-top: 5px;
    background-color: #2B2D42;
    position: relative;
    width: 100%;
    height: 2.7vh;
    background-image: url("./assets/sep_b_v2.svg");
    background-repeat: repeat-x;
    animation: transit 60s linear infinite;
    z-index: 100;
}

/* ----------------------------------- */
/* ---         SECTION 3           --- */
/* ----------------------------------- */

.section_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6.5vh;
    background: var(--color_v_3);
}

.bento {
    display: grid;
    gap: 2vh;
    grid-template-columns: repeat(7, 15vh); 
    grid-template-rows: repeat(5, 15vh); 
    grid-template-areas: 
        "a a a b b c d"
        "a a a b b c e"
        "f f g g h h i"
        "j j g g h h i"
        "k k k k k k k";
}

.bento div {
    border-radius: 20px; 
}

/* Mise en page pour les mobiles */
@media (max-width: 992px) {
    .bento {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(9, 40vh); 
        grid-template-areas: 
            "a a"
            "b b"
            "c c"
            "d e"
            "k k"
            "j f"
            "g g"
            "h h"
            "i i";
    }

    #bento_1 {
        width: 80vw;
    }

    #bento_3 {
        flex-direction: row;
        padding: 0 12vh;
        background-size: 5%; 
    }

    #bento_3 > img {
        height: 100%;
        width: auto;
    }
}

#bento_1 { 
    grid-area: a; 
    background-color: var(--color_r);
    border: var(--color_w) 8px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Briyone' !important; 
    font-size: 1.8rem;
    padding-left: 1vh;
}

#bento_1 > #main {
    font-family: 'Briyone' !important; 
    font-size: 4rem;
}

#bento_2 { 
    grid-area: b;
    background-image: url("./assets/blender_me.png");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: right;
    background-color: var(--color_v_1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.3vh;
}

#bento_2 > img {
    width: 16px;
}

#bento_2 > #titles > span {
    background-color: var(--color_b);
    padding: 0.4rem 0.4rem;
    border-radius: 4px;
    font-size: 0.7rem;
    margin-bottom: 2vh;
    transition: background-color 0.1s ease-out 100ms;
}

#bento_2 > #titles > span:hover {
    background-color: var(--color_r);
}

#bento_2 > #titles > span:nth-child(1):hover {
    background-color: var(--color_g);
}

#bento_2 > #titles > span:nth-child(2):hover {
    background-color: var(--color_y);
}

#bento_2 > #titles > span:nth-child(4):hover {
    background-color: var(--color_v_2);
}

#bento_3 { 
    grid-area: c;
    background-image: url("./assets/planet_point.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: var(--color_v_2); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 0;
}

#bento_3 > #text {
    color: var(--color_v_1);
    font-family: 'Briyone' !important; 
    font-size: 1rem;
}

#bento_3 > #text > p {
    font-family: 'Briyone' !important; 
    font-size: 1.5rem;
}

#bento_3 > img {
    width: 128px;
}

#bento_4 { 
    grid-area: d; 
    background-image: var(--background_white);
    background-size: 5vh;
    border: var(--color_v_2) 8px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color_v_2);
    font-family: 'Briyone' !important; 
    font-size: 1rem;
}

#bento_4 > span {
    color: var(--color_v_2);
    font-family: 'Briyone' !important;
    font-size: 2.5rem; 
}


#bento_5 { 
    grid-area: e; 
    background-color: var(--color_g);
    border: var(--color_w) 8px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color_w);
    font-family: 'Briyone' !important; 
    font-size: 1rem;
}

#bento_5 > span {
    color: var(--color_w);
    font-family: 'Briyone' !important;
    font-size: 2.5rem; 
}

#bento_6 { 
    grid-area: f;
    background: url("./assets/language.svg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color_v_3);
    border: var(--color_w) 8px solid; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
    font-family: 'Briyone' !important; 
    font-size: 1.4rem;
    color: var(--color_v_1)
}

#bento_7 { 
    grid-area: j; 
    background: url("./assets/sep_b_w.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
    background-color: var(--color_g);
    display: flex;
    align-items: center;
    justify-content: center;
}

#bento_7 > span {
    font-family: 'Briyone' !important; 
    font-size: 2vh;
    color: var(--color_g);
    border-radius: 20px;
    padding: 1vh 3vw;
    background-color: var(--color_w);
}

#bento_7 > span > i {
    color: var(--color_g)
}

#bento_8 { 
    grid-area: g; 
    background-image: url("./assets/wall_data.svg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: var(--color_y);
    border: var(--color_w) 4px solid; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end; 
    padding: 2.5vh;
}

#bento_8 > div > span > i {
    font-size: 4rem;
}

#bento_8 > div > span {
    font-family: 'Briyone' !important;
    margin-bottom: auto;
}

#b8_title {
    font-size: 4rem;
}

#b8_second{
    font-size: 1.4rem;
}

#b8_last {
    font-size: 1.6rem;
}

#bento_8 > span > i {
    font-size: 4rem;
}

#bento_9 { 
    grid-area: h; 
    background-image: url("./assets/wall_code.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--color_b);
    border: var(--color_v_2) 4px solid; 
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content:space-between ;
    text-align: right;
    padding: 2.5vh;
}

#bento_9 > a > span {
    border: var(--color_v_3) 2px solid;
    border-radius: 72px;
    padding: 0.5vh 1vh;
    color: var(--color_v_1);
    font-size: 1.1rem;
    transition: background-color 0.5s ease-out 100ms;
}

#bento_9 > div > span {
    font-family: 'Briyone' !important;
}

#b9_title {
    font-size: 4rem;
}

#b9_second{
    font-size: 1.4rem;
}

#b9_last {
    font-size: 1.6rem;
}

#bento_9 > span > i {
    color: var(--color_v_3);
}

#bento_9 > span:hover {
    cursor: pointer;
    background-color: var(--color_v_3);
    color: white;
}

#bento_9 > span:hover > i {
    cursor: pointer;
    color: white;
}

#bento_10 { 
    grid-area: i; 
    background-image: url("./assets/sep_v3.svg");
    background-size: 30vw;
    background-color: var(--color_v_1);
}

#bento_11 { 
    grid-area: k; 
    background-image: url("./assets/skills/ALL.svg");
    background-size: cover;
    background-color: var(--color_b);
    animation: toolbox 200s linear infinite;
}
  
/* ----------------------------------- */
/* ---         Transit 3           --- */
/* ----------------------------------- */

.transit3 {
    height: 2.8vh;
    width: 100%;
    background-image: url("./assets/sep_t_v2.svg");
    background-repeat: repeat-x;
    animation: transit 60s linear infinite;
    z-index: 100;
}

/* ----------------------------------- */
/* ---         SECTION 4           --- */
/* ----------------------------------- */

#section_4 {
    height: fit-content;
    background-color: var(--color_v_);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section_4 > img {
    opacity: 100%;
    width: 60%;
    max-height: 100%;
 }

 @media (max-width: 992px) {
    #section_4 > img {
        width: 100%;
    }
}
 
/* ----------------------------------- */
/* ---         Transit 4           --- */
/* ----------------------------------- */

.transit4 {
    margin-bottom: -10px;
    height: 2.9vh;
    width: 100%;
    background-image: url("./assets/sep_b_v3.svg");
    background-repeat: repeat-x;
    animation: transit 60s linear infinite;
    z-index: 100;
}

/* ----------------------------------- */
/* ---         SECTION 5           --- */
/* ----------------------------------- */

#section_5 {
    height: 80vh;
    background-color: var(--color_v_2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right !important;
}

#section_5 > .hero > .image {
    background-image: url("./assets/chat_mange.svg");
}

/* ----------------------------------- */
/* ---           FOOTER            --- */
/* ----------------------------------- */

.transit5 {
    height: 2.8vh;
    width: 100%;
    background-image: url("./assets/sep_t_v3.svg");
    background-color: var(--color_b);
    background-repeat: repeat-x;
    animation: transit 60s linear infinite;
    z-index: 100;
}

#section_footer {
    height: 20vh;
    background-color: var(--color_b);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}